<html lang="en-US">

<head>
    <title>Survey Analysis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body {
            padding: 30px;
        }
    </style>
</head>

<body>
    <h1>Survey Analysis</h1>
    <h3>Simplicity</h3>
    <ul>
        <% for (var i=0; i<results[0].length; i++){ %>
            <li>
                <%= results[0][i].simplicity %> :
                    <%= results[0][i].count %>
            </li>
            <% } %>
    </ul>

    <h3>Layout Opinions</h3>
    <ul>
        <% for (var i=0; i<results[1].length; i++){ %>
            <li>
                <%= results[1][i].layoutOpinion %> :
                    <%= results[1][i].count %>
            </li>
            <% } %>
    </ul>

    <h3>Website Design Aspects</h3>
    <ul>
        <% for (var i=0; i<results[2].length; i++){ %>
            <li>
                <%= results[2][i].designAspects %> :
                    <%= results[2][i].count %>
            </li>
            <% } %>
    </ul>

    <h3>Least Favourite Aspect</h3>
    <ul>
        <% for (var i=0; i<results[3].length; i++){ %>
            <li>
                <%= results[3][i].leastFave %> :
                    <%= results[3][i].count %>
            </li>
            <% } %>
    </ul>

    <h3>Navigation Rating</h3>
    <ul>
        <% for (var i=0; i<results[4].length; i++){ %>
            <li>
                <%= results[4][i].navRating %> :
                    <%= results[4][i].count %>
            </li>
            <% } %>
    </ul>

    <h3>Comments</h3>
    <ul>
        <% for (var i=0; i<results[5].length; i++){ %>
            <li>
                <%= results[5][i].comment %> :
                    <%= results[5][i].count %>
            </li>
            <% } %>
    </ul>


</body>

</html>